# Use CDROM installation media
cdrom
# System language
lang en_US.UTF-8
# Keyboard layouts
keyboard --xlayouts='se'
# Network information
network  --bootproto=static --device=ens192 --gateway=10.127.40.1 --ip=10.127.40.210 --nameserver=8.8.8.8,1.1.1.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=redhat
rootpw --plaintext redhat
firewall --disable
authconfig --enableshadow --passalgo=sha512
# System timezone
timezone Europe/Stockholm --isUtc --nontp
text
skipx
# Partition clearing information
clearpart --none --initlabel
autopart
firstboot --disabled
reboot

# Packages to install
%packages
@^minimal-environment
@guest-agents
aide
audispd-plugins
kexec-tools
libreswan
opensc
openscap
openscap-scanner
pcsc-lite
scap-security-guide

%end

# Root password
rootpw --iscrypted $6$yT68isjR.IV9eGf.$bP1g3i3elT9DP4g4ItLFakKfkpYVfhu.lEy/WNrTrTEhIh7wtjHMah7gMaAtf9Lte9FcB06f8NuXEgFWMblSd1
user --groups=wheel --name=redhat --password=$6$sJW70HIkJGElf03Q$2k6t1cNFMeGsjyMe42B4o4msXPfmBOyRQGgyQklzJCy.cPCQYgFkxGRbF9ZaqiGulqU.I2RCIrjz9rVxhLg2U1 --iscrypted --gecos="redhat"

# PCI-DSS hardening
%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_pci-dss
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Allow redhat user sudo privs
%post
echo "redhat        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/redhat
%end
